In [1]:
import pandas as pd

##### _baseline_线下1.3560_v5.1.csv  +  _xgboost_线下_1.3304468_v5.1.csv

In [2]:
data1 = pd.read_csv("../Result/_baseline_线下1.3560_v5.1.csv")
data2 = pd.read_csv("../Result/_xgboost_线下_1.3304468_v5.1.csv")
data = pd.DataFrame()
data["id"] = data1["id"]
data["price"] = 0.6 * data1["price"] + data2["price"]*0.4
data.head()

   id      price
0   1   4.133637
1   2   5.857449
2   3  13.321918
3   4   5.742143
4   5   5.481674

In [3]:
data.to_csv("../Result/_0.6lgb+0.4xgb.csv",index=False)

##### _baseline_线下__1.35169_v5.2.csv + + xgboost线下_1.3304468_v5.1.csv

In [8]:
data1 = pd.read_csv("../Result/_baseline_线下__1.35169_v5.2.csv")
data2 = pd.read_csv("../Result/_xgboost_线下_1.3304468_v5.1.csv")
data = pd.DataFrame()
data["id"] = data1["id"]
data["price"] = 0.5 * data1["price"] + data2["price"]*0.5
data.head()

   id      price
0   1   4.139927
1   2   5.894044
2   3  13.506502
3   4   5.721222
4   5   5.481968

In [9]:
data.to_csv("../Result/_0.5lgb+0.5xgb_v5.2.csv",index=False)

#### 融合

In [2]:
data1 = pd.read_csv("../Result/_baseline_线下__1.35169_v5.2.csv")
data2 = pd.read_csv("../Result/_xgboost_线下_1.3304468_v5.1.csv")
data3 = pd.read_csv("../Result/baseline1_xin.csv")
data = pd.DataFrame()
data["id"] = data1["id"]
data["price"] = 0.3 * data1["price"] + data2["price"]*0.4 + data3["price"]*0.3 
data.head()

   id      price
0   1   4.153877
1   2   6.046357
2   3  13.189564
3   4   5.812940
4   5   5.334617

In [3]:
data.to_csv("../Result/_0.3lgb+0.4xgb+0.3xin_v5.2.csv",index=False)

### 融合

In [5]:
data1 = pd.read_csv("../Result/_baseline_线下__1.35169_v5.2.csv")
data2 = pd.read_csv("../Result/_xgboost_线下_1.3304468_v5.1.csv")
data3 = pd.read_csv("../Result/baseline1_xin.csv")
data = pd.DataFrame()
data["id"] = data1["id"]
data["price"] = 0.3 * data1["price"] + data2["price"]*0.35 + data3["price"]*0.35 
data.head()

   id      price
0   1   4.156500
1   2   6.073180
2   3  13.129680
3   4   5.823792
4   5   5.313425

In [6]:
data.to_csv("../Result/_0.3lgb+0.35xgb+0.35xin_v5.2.csv",index=False)

In [7]:
data1 = pd.read_csv("../Result/_baseline_线下__1.35169_v5.2.csv")
data2 = pd.read_csv("../Result/_xgboost_线下_1.3304468_v5.1.csv")
data3 = pd.read_csv("../Result/baseline1_xin.csv")
data = pd.DataFrame()
data["id"] = data1["id"]
data["price"] = 0.2 * data1["price"] + data2["price"]*0.4 + data3["price"]*0.4
data.head()

   id      price
0   1   4.158228
1   2   6.095691
2   3  13.090979
3   4   5.847947
4   5   5.282134

In [8]:
data.to_csv("../Result/_0.2lgb+0.4xgb+0.4xin_v5.2.csv",index=False)

In [9]:
data1 = pd.read_csv("../Result/_baseline_线下__1.35169_v5.2.csv")
data2 = pd.read_csv("../Result/_xgboost_线下_1.3304468_v5.1.csv")
data3 = pd.read_csv("../Result/baseline1_xin.csv")
data = pd.DataFrame()
data["id"] = data1["id"]
data["price"] = 0.0 * data1["price"] + data2["price"]*0.5 + data3["price"]*0.5
data.head()

   id      price
0   1   4.161686
1   2   6.140713
2   3  13.013577
3   4   5.896258
4   5   5.219553

In [10]:
data.to_csv("../Result/_0.0gb+0.5xgb+0.5xin_v5.2.csv",index=False)

#####

In [12]:
data1 = pd.read_csv("../Result/_baseline_线下__1.35169_v5.2.csv")
data2 = pd.read_csv("../Result/_xgboost_线下_1.3304468_v5.1.csv")
data3 = pd.read_csv("../Result/baseline1_xin.csv")
data = pd.DataFrame()
data["id"] = data1["id"]
data["price"] = 0.25 * data1["price"] + data2["price"]*0.4 + data3["price"]*0.35
data.head()

   id      price
0   1   4.156053
1   2   6.071024
2   3  13.140271
3   4   5.830444
4   5   5.308376

In [13]:
data.to_csv("../Result/_0.25gb+0.4xgb+0.35xin_v5.2.csv",index=False)